@import "tailwindcss";


:root, html {
    font-size: clamp(3px, 1vw, 20px);
}

@theme {
    --color-keyblue-100: #ecf2f8;
    --color-keyblue-200: #c6d7eb;
    --color-keyblue-300: #a1bcde;
    --color-keyblue-400: #7ba1d1;
    --color-keyblue-500: #5586c3;
    --color-keyblue-600: #3c5caa;
    --color-keyblue-700: #2e5484;
    --color-keyblue-800: #213c5e;
    --color-keyblue-900: #142439;

    --color-borderblue-500: #043874;
}

:root {
    --zoom-amt: 0.95;
}

@layer components {
    p {
        @apply text-4xl lg:text-xl;
    }

    h2 {
        @apply text-7xl lg:text-5xl font-bold;
    }

    h4 {
        @apply text-[3rem];
    }

    input::-ms-reveal, input::-ms-clear {
        display: none;
    }

    iframe {
        -ms-zoom: var(--zoom-amt);
        zoom: var(--zoom-amt);
        -moz-transform: scale(var(--zoom-amt));
        transform: scale(var(--zoom-amt));
        -moz-transform-origin: 0 0;
        transform-origin: 0 0;
        -o-transform: scale(var(--zoom-amt));
        -o-transform-origin: 0 0;
        -webkit-transform: scale(var(--zoom-amt));
        -webkit-transform-origin: 0 0;
    }

}

