:root {
    font-size: clamp(3px, 1vw, 40px);
}


@media (orientation: portrait) , (max-width: 500px) {
    :root {
        font-size: clamp(3px, 1.05vw, 20px);
    }


}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    z-index: 1;
}

img, .suspenseImage {
    width: 45rem;
    height: 30rem;
    padding: 3rem;
    object-fit: cover;
}



.Page {
    width: 100%;
    max-width: 100vw;
/* 
    height: 100%;
    max-height: 100vh; */

    padding: 0;
    margin: 0;

}


.white {
    color: white;
}

.white-bg {
    background-color: white;
}

.bannerBlue {
    color: #213c5e;
}

.bannerBlue-bg {
    background-color: #213c5e;
}

.blueAlteration {
    width: 100%;
    padding: 5rem;
    height: fit-content;
    background-color: #213c5e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteAlteration {
    width: 100%;
    padding: 5rem;
    height: fit-content;
    background-color: white;
}

p {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
}
h4 {
    font-size: 3rem;
}


.textSubdivision {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.textSubdivision > .textContent {
    padding-left: 2rem;
    flex: 1 1 50rem;
    max-width: 67rem;
}

.textSubdivision > .textContent > p , .textSubdivision > .textContent > ul> li  {
    text-wrap: wrap;
    text-align: left;
    padding-left: 2rem;
    font-size: 2rem;
}



.textSubdivision > .textContent > ul > li {
    padding-left: 0;
    font-size: 2rem;
}



.textSubdivision > .textContent > h2 {
    font-size: 3rem;
    text-align: left;
    padding: 0;
}

.textSubdivision > .suspenseImage {
    width: 60rem;
    height: 35%;
    padding-right: 0rem;
    object-fit: cover;
    max-width: 95vw;
}

@media (orientation: portrait) , (max-width: 500px) {

    .cardHolder {
        flex-direction: column;
    }

    .textSubdivision {
        padding-top: 10rem;
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 10rem;
    }

    .textSubdivision > * {
        padding: 0;
        text-align: center;
    }
    .textSubdivision > .suspenseImage {
        height: 45rem;
        width: 67.5rem;

    }

    .textSubdivision > .textContent > h2 {
        font-size: 6rem;
        text-align: center;
    }


    .textSubdivision > .textContent > p {
        font-size: 3.5rem;
        text-align: center;
        padding: 0;
    }
    
}