* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    z-index: 1;
    overflow-x: hidden;
    white-space: nowrap;

}


img {
    width: 45rem;
    height: 30rem;
    object-fit: cover;
}



.Page {
    width: 100vw;
    padding: 0;
    margin: 0;

}

:root {
    font-size: clamp(3px, 1vw, 20px);
}

.white {
    color: white;
}

.white-bg {
    background-color: white;
}

.bannerBlue {
    color: #213c5e;
}

.bannerBlue-bg {
    background-color: #213c5e;
}

.blueAlteration {
    width: 100%;
    padding: 5rem;
    height: fit-content;
    background-color: #213c5e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteAlteration {
    width: 100%;
    padding: 5rem;
    height: fit-content;
    background-color: white;
}

p {
    font-size: 2rem;
}

h2 {
    font-size: 4rem;
}
h4 {
    font-size: 3rem;
}

@media (orientation: portrait), (max-width: 540px) {
    :root {
        font-size: clamp(3px, 1.05vw, 20px);
    }


}