* {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    z-index: 1;
}

:root {
    font-size: clamp(3px, 1vw, 20px);
}

.white {
    color: white;
}

.white-bg {
    background-color: white;
}

.bannerBlue {
    color: #213c5e;
}

.bannerBlue-bg {
    background-color: #213c5e;
}