.Card > .suspenseImage, .OfficerCard > .suspenseImage {
    padding: 0;
    width: 10rem;
    height: 10rem;
    border: 0.5rem solid #043874;
    border-radius: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.Card > .box {
    position: relative;
    padding: 1rem;
    padding-top: 1rem;
    max-width: 251.67px;
    background-color: #3d537d;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    text-align: center;
    bottom: 5rem;
    z-index: 0;

    height: 20rem;
    /* width: 60rem; */
    
    display: flex;
    flex-direction:  column;
    align-items: center;

    justify-content: center;
    justify-self: center;
    overflow-y: visible;

}

.Card > .box > p { 
    font-size: 100%;
    text-wrap: balance;
    overflow-y: visible;
}

.Card > .box > h4 {
    font-size: 150%;
}

.Card > .box > * {
    text-wrap: balance;
    text-align: center;
    color: white;
    overflow-y: visible;
}

.Card {
    height: fit-content;
    text-align: center;
}

@media (orientation: portrait), (max-width: 540px) {
    
    .Card > .suspenseImage {
        height: 16rem;
        width: 16rem;
    }

   .Card > .box {
        height: 35rem;
        width: 30rem;
        bottom: 6rem;
        padding-top: 0;
   }

   .Card > .box > p {
        font-size: 200%;
   }

   .Card > .box > h4 {
        font-size: 300%;
   }

}