div.Carousel {
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* div.Carousel > div.buttons{
    display: flex;
    justify-content: center;
    gap: 3rem;
} */

.Page.Officers > .whiteAlteration {
    padding: 2rem;
}

div.Carousel > button {
    width: 5rem;
    height: 5rem;
    background-color: #5271ff;
    color: white;
    font-size: 300%;
    border-radius: 55%;
    border: none;
    cursor: pointer;
    transition: transform 0.175s linear;
}

div.Carousel > button:hover {
    transform: scale(1.05);
}

div.Carousel > div.content {
    display: flex;
    gap: 3rem;
    align-items: stretch;
    justify-content: center;
}

@media (orientation: portrait) , (max-width: 500px) {
    div.Carousel > div.buttons > button {
        width: 7rem;
        height: 7rem;
        font-size: 500%;
    }
}