.OfficerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.OfficerCard > .suspenseImage {
    width: 13rem;
    height: 13rem;
    border-width: 0.75rem;
    position: relative;
    top: 5rem;
    z-index: 2;
}

.OfficerCard > div {
    font-size: 2rem;
    text-align: center;
    border: 0.75rem solid #213c5e;
    border-radius: 3rem;
    width: 20rem;
    padding: 1rem;
    padding-top: 5rem;
    margin: auto;
    height: 40rem;

}

.OfficerCard > div > h4 {
    font-size: 90%;
    justify-self: center;
    max-width: fit-content;
}

.OfficerCard > div > h3 {
    font-size: 75%;
}

.OfficerCard > div > p {
    font-size: 60%;
    word-wrap: break-word;
    text-wrap: wrap;
}


@media (orientation: portrait) , (max-width: 500px) {
    .OfficerCard > .suspenseImage {
        width: 20rem;
        height: 20rem;
    }
    .OfficerCard > div {
    font-size: 3rem;
    text-align: center;
    border: 0.75rem solid #213c5e;
    border-radius: 3rem;
    width: 30rem;
    padding: 1rem;
    padding-top: 5rem;
    margin: auto;
    height: 60rem;
    }

}