.Opportunity {
    position: relative;
    overflow: hidden;
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
    float: left;

    margin: 0;
    padding: 0;
}

.Opportunity.vertical {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

.Opportunity.wide {
    grid-row: 2 / span auto;
    grid-column: 2 span / auto;
}



.Opportunity  > img {
    background-color: red;
    width: 100%;
    height: 100%;
    padding: 0;
    transition: filter 0.25s ease-in;
    position: relative;
}

.Opportunity > p {

    color: white;

    white-space: normal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5%;

    font-size: 150%;
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 100%;

    opacity: 0;
    transition: opacity 0.23s linear;
}

.Opportunity:hover > img {
    filter: blur(0.3rem);
}

.Opportunity:hover > p {
    opacity: 1;
}